
<div class="w-full max-[430px]:hidden text-white justify-between h-240 gap-4 flex flex-wrap bg-slate-900 overflow-hidden">
    <div class="w-full h-10 text-center bg-slate-800">Back to top</div>
   <div class="w-full h-90  mx-50 my-10 p-2 flex-wrap flex justify-between [&>div>h2]:font-bold
    [&>div>p]:font-semibold [&>div>p:hover]:bg-slate-800 [&>div>p]:rounded [&>div>p]:p-1
    [&>div>h2]:p-2  ">  
     <div class="w-50 h-full ">
      <h2>Get to know us</h2>
      <p>About Amazone</p>
      <p>Careers</p>
      <p>Press Releases</p>
      <p>Amazone Science</p>
     </div>
     <div class="w-50 h-full ">
        <h2>Connect with Us</h2>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
     </div>
     <div class="w-55 h-full ">
        <h2>Make Money with Us</h2>
        <p>Sell on Amazone</p>
        <p class="leading-4">Sell under Amazone Accelerator</p>
        <p>Protect and build you brand</p>
        <p>Amazone Global Selling</p>
        <p>Supply to Amazone</p>
        <p>Become an Affiliate</p>
        <p>Fulfilment by Amazone</p>
        <p>Advertise Your Product</p>
        <p>Amazone Pay on Merchants</p>
     </div>
     <div class="w-50 h-full">
       <h2>Let Us Help you</h2>
       <p>Your Account</p>
       <p>Rerurns Centre</p>
       <p class="leading-4">Recall and Product Safety Alerts</p>
       <p>100% Purchase Protection</p>
       <p>Amazone app Download</p>
       <p>Help</p>
     </div>
   </div>
   <hr>
   <div class=" w-full h-60 flex flex-wrap justify-around">
     <div class="w-80 font-bold h-10 text-2xl flex item-center justify-between ">
      <span>Amazone</span> <span>English</span> <span>India</span>
     </div>
     <div class="w-full flex justify-between [&>div>h2]:font-bold flex-wrap
       [&>div>p]:font-semibold [&>div>h2,&>div>p]:leading-4 bg-slate-800 [&>div]:p-2 h-55 px-40 "> 
        <div class="w-30 h-20">
          <h2>AbeBooks</h2>
          <p>Books, art & Collectibles</p>
        </div>
        <div class="w-50 h-33 ">
          <h2>Amazone Web services</h2>
          <p>Scalable cloud</p>
          <p>Computing Service</p>
          <br>
          <h2>Amazone Bussiness</h2>
          <p>Everything for Your Bussiness</p>
        </div>
        <div class="w-50 h-36 ">
          <h2>Audible</h2>
          <p>Download</p>
          <p>Audio Books</p>
          <br>
          <h2>Prime Now</h2>
          <p>2-Hour Delivery</p>
          <p>on Everyday items</p>
        </div>
        <div class="w-50 h-40 ">
          <h2>IMDB</h2>
          <p>Movies, TV</p>
          <p>& Celebrities</p>
          <br>
          <h2>Amazone Prime Music</h2>
          <p>100 million songs, ad-</p>
          <p>free</p>
          <p>over 15 million podcast Episodes</p>
        </div>
      </div>
    </div>
    <div class="w-full h-5 justify-around px-120  flex-wrap flex gap-1">
      <span>condition of Use & Sale</span> <span>Privacy Notice</span> <span>Interest
        based Ads
      </span>
    </div>
    <div class="w-full h-5 px-140">
      <span>&copy 1996-2025, Amazone.com Inc. or its Affiliates</span>
    </div>
</div>