{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suhail project</title>
    <link href="{% static './output.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ede47d886a.js" crossorigin="anonymous"></script>
    <script src="{% static 'index.js' %}"></script>
    <style>
      #scrollcontainer::-webkit-scrollbar{
        display:none;
      }
      #actionToys::-webkit-scrollbar{
       display:none;
      }
      #mainob2::-webkit-scrollbar{
        display:none;
      }
      .mobile::-webkit-scrollbar{
       display:none;
      }
      .main::-webkit-scrollbar{
       display:none;
      }
      
    </style>
  </head>
<body   class="bg-slate-100">
   
 {% include 'header.html' %}
 

<!---mobile me show hoga top header 430px ke neeche okay-->

  <div class="min-[430px]:hidden bg-cyan-300 w-full p-3 h-15
 sticky top-0 z-10">
    <div class="flex h-full bg-white p-1 rounded shadow-slate-500 shadow-2xs">
      <div class="w-10 h-full p-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>          
      </div>
      <div class="w-65 ">
        <input type="text" placeholder="Search or ask a question..">
      </div>
      <div class=" w-10">
        <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
            <path strokeLinecap="round" strokeLinejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
          </svg>
          
      </div>
      <div class=" w-10">
        <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
          </svg>
          
      </div>
    </div>

    <div></div>
 </div>

 

<!--mobile bottom-->

 <div class="w-full h-14 fixed bottom-0 bg-white p-2 min-[430px]:hidden 
 border-4 border-t border-l-0 border-r-0 border-b-0 border-t-slate-300 z-10">
   <div class="w-full flex gap-4 h-full">
    <a href="{% url 'home' %}"></a>
       <div class="w-15 p-2 justify-center">
        <svg class="w-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <h3 class="text-[12px]">Home</h3>     
       </div>
      </a>
       <div class="w-15 p-2 justify-center ">
        <a href="{% url 'register' %}">
        <svg class="w-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
          
          <h3 class="text-[12px]">You</h3> 
          </a>    
       </div>
       <div class="w-15 p-2 justify-center ">
        <a href="{% url 'cart' %}">
        <svg class="w-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>
          
          
         <h3 class="text-[12px]">Cart   </h3> </a>    
       </div>
       <div class="w-15 p-2 justify-center ">
        <svg class="w-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <h3 class="text-[12px]">Menu</h3>

       </div>
       <div class="w-15 p-2 justify-center ">
        <svg class="w-5 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
          </svg>
          
          <h3 class="text-[12px]">Rufus</h3>     
       </div>
   </div>
 </div>
       
 
 <!--scrollcontainer-->
 <div id="scrollcontainer" class="max-[430px]:hidden flex min-w-380 h-182 overflow-x-auto 
   overflow-y-hidden ">
  {% for allcon in page_obj %}
   <div class="scroll-box flex h-200  min-w-380 mx-auto 
     bg-no-repeat bg-[length:100%_100%] filter "
     style="background-image: url('{{ allcon.bgimage }}')">
    
     <div class="w-180 h-350 p-5">
        <div class="w-90 h-full p-2 ml-100">
          <h1 class="text-5xl">{{ allcon.heading }}</h1>
         
         <h2 class="text-4xl">{{ allcon.heading2 }}</h2>
         <br>
         <p class="text-2xl">{{ allcon.paragraph }} <br> {{ allcon.paragraph2 }} </p>
         <br><br>
         <p class="ml-12">&copy {{ allcon.Term }}</p>
       </div>
       </div>
       <div class="w-200 h-1/2 p-2
       bg-no-repeat bg-[length:70%_80%] " 
       style="background-image: url('{{ allcon.bgimage2 }}')">
       </div>
    </div>
    {% endfor %}
 </div>

 <div class="max-[430px]:hidden flex w-full justify-between gap-4 p-4 absolute top-80 ">
  <button onclick="scrollLeftCustom()" class="bg-blue-600 text-white px-4 py-2 rounded">← Prev</button>
  <button onclick="scrollRightCustom()" class="bg-blue-600 text-white px-4 py-2 rounded">Next →</button>
</div>
<script>
  const scrollContainer = document.getElementById("scrollcontainer");
  const scrollBoxes = document.querySelectorAll(".scroll-box");

  // Har ek box ki actual width le lete hain
  const boxWidth = scrollBoxes[0]?.offsetWidth || 300; // fallback in case empty  

  function scrollLeftCustom() {
    scrollContainer.scrollBy({ left: -boxWidth, behavior: 'smooth' });
  }

  function scrollRightCustom() {
    scrollContainer.scrollBy({ left: boxWidth, behavior: 'smooth' });
  }
</script>



  
 
  <div class=" p-4 flex-wrap max-[430px]:hidden flex h-270 w-full absolute top-100 gap-4 z-0">
    {% for products in product %}
    
    <div class="bg-white rounded-xl
     shadow-md shadow-slate-800 flex flex-wrap w-90 p-2 h-[520px] gap-2">

      <div class=" w-full h-7 leading-6 text-2xl font-bold hover:underline decoration-2">
        {{ products.header }}
       </div>
      
       <div class=" w-[165px] h-[160px]">
         <div class=" w-full h-[85px]">
          
          <a href="{% url 'add_to_cart' products.id products.content1 %}">
            <img class="w-full h-full transition-transform duration-500 ease-in-out
            hover:scale-110 " src="{{ products.image1 }}" alt="Product" class="cursor-pointer">
        </div>
         <div class="w-full h-[80px] text-[14px] font-medium hover:underline decoration-2">
          {{ products.content1 }} <br><span class="text-slate-500">price: ₹{{ products.price1 }}/
            {{ products.off171 }}% off
          </span>
           total pay : ₹{{ products.final_price1 }} only 
           
         </div>
         </a>
         <div class="w-full h-[10px] m-1">
           <form action="{% url 'add_to_cart' products.id products.content1 %}" method="post">
             {% csrf_token %}
             <button class="bg-blue-700 w-[140px] hover:bg-blue-600 rounded-sm text-white 
             px-4" type="submit">Add to Cart</button>
           </form>
         </div>  
     </div>

      <div class=" w-[165px] h-[160px]">
        <div class=" w-full h-[85px]">
          <a href="{% url 'add_to_cart' products.id products.content2 %}">
              <img class="w-full h-full transition-transform duration-500 ease-in-out
            hover:scale-110" src="{{ products.image2 }}" alt="Product">
         
        </div>
         <div class="w-full h-[80px] text-[14px] font-medium hover:underline decoration-2">
          {{ products.content2 }} <br><span class="text-slate-500">price: ₹{{ products.price2 }}/
            {{ products.off172 }}% off
          </span>
           total pay : ₹{{ products.final_price2 }} only 
        </div>
         </a>
        <div class="w-full h-[10px] m-1">
          <form action="{% url 'add_to_cart' products.id products.content2 %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-700 w-[140px] hover:bg-blue-600 rounded-sm text-white 
            px-4" type="submit">Add to Cart</button>
          </form>
        </div>  

      </div>
      <div class=" w-[165px] h-[160px]">
        <div class=" w-full h-[85px]">
          <a href="{% url 'add_to_cart' products.id products.content3  %}">
            <img class="w-full h-full transition-transform duration-500 ease-in-out
            hover:scale-110" src="{{ products.image3 }}" alt="Product" class="cursor-pointer">
          
        </div>
         <div class="w-full h-[80px] text-[14px] font-medium hover:underline decoration-2">
          {{ products.content3 }} <br><span class="text-slate-500">price: ₹{{ products.price3 }}/
            {{ products.off173 }}% off
          </span>
           total pay : ₹{{ products.final_price3 }} only 
        </div>
        </a>
        <div class="w-full h-[10px] m-1">
          <form action="{% url 'add_to_cart' products.id products.content3  %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-700 w-[140px] hover:bg-blue-600 rounded-sm text-white 
            px-4" type="submit">Add to Cart</button>
          </form>
        </div>  

      </div>

      <div class=" w-[165px] h-[160px]">
        <div class=" w-full h-[85px] ">
          <a href="{% url 'add_to_cart' products.id products.content4 %}">
            <img class="w-full h-full transition-transform duration-500 ease-in-out
            hover:scale-110" src="{{ products.image4 }}" alt="Product" class="cursor-pointer">
          
        </div>
        <div class="w-full h-[80px] text-[14px] font-medium hover:underline decoration-2">
          {{ products.content4 }} <br><span class="text-slate-500">price: ₹{{ products.price4 }}/
            {{ products.off174 }}% off
          </span>
           total pay : ₹{{ products.final_price4 }} only 
        </div>
        </a>
        <div class="w-full h-[10px] m-1">
          <form action="{% url 'add_to_cart' products.id products.content4 %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-700 w-[140px] hover:bg-blue-600 rounded-sm text-white 
            px-4" type="submit">Add to Cart</button>
          </form>
        </div>  
      </div>
    </div>
    {% endfor %}
 
  </div>



  


    <div class=" max-[430px]:hidden w-full h-168 ">
    </div>

    <div class="w-380 mx-auto bg-white flex-wrap max-[430px]:hidden flex h-100 
    shadow-md shadow-slate-400 group">
      <div class="w-380 mx-auto h-15 text-3xl font-medium">
        {{ actiontoys.0.header1 }}
      </div>
       <div id="actionToys" class="min-w-380 mx-auto h-80  flex overflow-x-auto
          overflow-y-hidden">
          {% for actionToys in actiontoys %}
          <div class=" min-w-70 h-80  ">
            <img class="w-full h-full" src="{{ actionToys.actionimage }}" alt="">
          </div>
          {% endfor %}
          <div class="absolute w-380 justify-between mt-4 group-hover:flex hidden">
            <button onclick="scrollL()" class="bg-slate-100
            border-4 border-slate-300 text-black px-1 py-10 rounded">← Prev</button>
            <button onclick="scrollR()" class="bg-slate-100 
            border-4 border-slate-300 text-black px-1 py-10 rounded">Next →</button>
          </div>
       </div> 
       
    </div>
    
    <script>
      const actionToys = document.getElementById('actionToys');
       
      function scrollL(){
        actionToys.scrollBy({ left: -1520, behavior: 'smooth'});
      }

      function scrollR(){
        actionToys.scrollBy({ left: 1520, behavior: 'smooth'});
      }
    </script>

<!---for mobile section-->

<div class="w-full max-[430px]:hidden flex flex-wrap my-10 h-125 p-4 bg-white shadow rounded">
  <div class="w-full h-15 p-2 ">
    
    <h1 class="text-3xl font-bold">{{ mobile.0.header2 }}</h1>
  </div>
  <div class=" w-full flex h-110">
    <div id="mobile-section" class="w-full p-10 h-100 flex gap-2 overflow-x-auto overflow-y-hidden ">
       {% for mobile in mobile %}
      <div class="min-w-66 h-full bg-slate-100 p-2 flex flex-wrap  shadow rounded">
        <div class="w-44 h-55 m-auto ">
          <a href="{% url 'add_to_cartmobile' mobile.id %}">
          <img class="w-full h-full transition-transform duration-300 hover:scale-106 
          ease-in-out" src="{{ mobile.imagemobile }}" alt="">
          </a>
        </div>
        <div class="w-55 h-20 m-auto  leading-5">
           
          <p class="bg-red-600 p-1 rounded text-white font-semibold">{{ mobile.offermobile }}% off limited time deal </p>
          <p class="hover:underline text-xl font-semibold ">₹{{ mobile.final_price }} <span class="text-slate-500 text-[12px]">MRP - ₹{{ mobile.mrpmobile }}</span></p>

            <form action="{% url 'add_to_cartmobile' mobile.id %}" method="POST">
              <p class="flex justify-between"> <span>{{ mobile.nameofmobile }}</span>
              {% csrf_token %}
               <span><button class="bg-blue-600 hover:bg-blue-500 
                rounded p-1 text-white px-4">add to cart</button></span>
            </form>
          </p>
        </div>
      </div>
       {% endfor %}
    </div>
    <div class="absolute w-360 justify-between flex ">
      <button class="bg-blue-600 px-4 p-2 rounded text-white" onclick="scrollLm()">← left</button>
      <button class="bg-blue-600 px-4 p-2 rounded text-white" onclick="scrollRm()">right →</button>
    </div>
  </div>
</div>

<script>
  const mobile_scroller = document.getElementById('mobile-section');

  function scrollLm(){
    mobile_scroller.scrollBy({ left: -1440, behavior: 'smooth'});
  }

  function scrollRm(){
    mobile_scroller.scrollBy({ left: 1440, behavior: 'smooth'});
  }
</script>


<div id="updateyourlocation" class="w-full h-full invisible hidden bg-[rgba(0,0,0,0.6)] absolute top-0 items-center justify-center">
  <div class="w-full h-auto top-60 ">
    <div class="w-100 h-60 bg-white mx-auto shadow rounded">
      <div class="w-full h-12 px-5 bg-slate-200 font-semibold p-2 shadow">
        <h1>
          Choose your location 
          <span onclick="updateyourlocat()" class="float-right text-xl hover:border-2 px-3 mt-[-8px] p-1">&times</span>
        </h1>
      </div>

      <div class="w-full h-48 px-4 py-2">
        <h1>Select a delivery location to see product availability and delivery option</h1>
        <h1 class="bg-amber-500 p-1 hover:bg-amber-400 rounded-4xl text-center my-2">Sign in to see your addresses</h1>
        <h1 class="text-center my-2">or enter an Indian pincode</h1>

        <div>
           <form method="get" action="{% url 'home' %}">
            <input type="text" name="pincode" placeholder="Enter Pincode" value="{{ request.GET.pincode }}">
           <button type="submit">Check</button>
         </form>
        </div>
         <div class="w-full h-10 ">
           {% if error %}
            <p class="w-full h-10 text-red-500">{{ error }}</p>
        {% endif %}
         </div>
        <!-- Error message niche show hoga -->
        

      </div>
    </div>
  </div>
</div>



<!----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->
<!----made for mobile view -->

<div class="min-[430px]:hidden  
w-screen h-100  overflow-x-auto ">

    <div class="min-w-full h-full  overflow-x-auto overflow-y-hidden  flex">
      {% for main in mainob %}
      <div class="min-w-full h-full flex justify-between item-center bg-no-repeat gap-0.5" 
      style="background-image: url('{{ main.imagemain }}'); background-size:100% 100%; ">
        <div class="w-1/2 h-full flex pl-5 py-10">
          <div class="w-full h-[75%]  text-white font-semibold">
            <p class="text-4xl">{{ main.content }}</p>
            <p>{{ main.crazylower }}</p>
            <p>&copy {{ main.term }}</p>
            <p> 
                <a href="{% url 'add_to_cart_mobile' main.id %}">Add to cart</a>
            </p>
            <p>{{ main.name }}</p>
        </div>
        </div>
        <div class="w-1/2 h-full  flex pr-5 py-10">
          <div class="w-full h-[75%] ">
            <div class="w-20  font-semibold bg-yellow-300 shadow-2xl shadow-black p-2  rounded-2xl ">
              <p class="leading-1">starting  ₹<span class="text-4xl">{{ main.startingprice }}</span></p>
            </div>
            <img class="w-full h-[80%] rounded-2xl shadow" src="{{ main.image }}" alt=""></div>
        </div>
      </div>
      {% endfor %}
    </div>

</div>


<div class="w-screen min-[430px]:hidden h-50 overflow-hidden absolute top-100 ">
  <div id="mainob2" class="min-w-full h-full gap-2 overflow-x-auto overflow-y-hidden
  flex [&>div]:rounded ">
    {% for main2 in mainob2 %}
     <div class="min-w-40 flex h-full p-2 gap-1 flex-wrap shadow-xs shadow-black bg-white">
       <div class="w-full h-10 leading-5 font-semibold">{{ main2.header }}</div>
       <div class="w-full h-32">
        <img class="w-full h-full" src="{{ main2.imagemainob2 }}" alt="{{ main2.header }}"></div>
     </div>
      {% endfor %}
    </div>
</div>

<div class="w-full min-[430px]:hidden h-37"></div>

<div class="w-screen min-[430px]:hidden h-22 overflow-hidden shadow">
  <div id="mainob2" class="w-full h-full flex overflow-x-auto overflow-y-hidden">
    {% for main3 in mainob3 %}
    <div class="min-w-20 h-full  flex p-1 flex-wrap">
      <div class="w-full h-14 ">
        <img class="w-full h-full" src="{{ main3.imagemainob3 }}" alt="{{ main3.footer }}">
      </div>
      <div class="font-semibold w-full h-6 text-center ">
        <h1>{{ main3.footer }}</h1>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="w-screen min-[430px]:hidden overflow-hidden h-120  ">
  <div id="mainob2" class="w-full h-full  overflow-x-auto
  overflow-y-hidden flex">
  {% for main4 in mainob4 %}
      <div class="min-w-full h-full flex flex-wrap gap-2 p-2 ">
         <div class="w-45 h-56 flex flex-wrap ">
            <div class="px-2 w-40 mx-auto  h-40 bg-slate-200 rounded shadow-sm shadow-slate-400">
              <img class="w-full h-full" src="{{ main4.image4m1 }}" alt="">
            </div>
            <div class="w-full h-10 flex">
              
              <div class="w-33 text-red-600 p-1 rounded font-semibold h-10">
                <span class="w-15 p-1 rounded font-semibold text-white bg-red-600 h-10">
                {{ main4.offer1}}%
              </span>
                {{ main4.footer1 }}
              </div>
            </div>
         </div>
        <div class="w-45 h-56 flex flex-wrap ">
           <div class="px-2 w-40 mx-auto  h-40 bg-slate-200 rounded shadow-sm shadow-slate-400">
              <img class="w-full h-full" src="{{ main4.image4m2 }}" alt="{{ main4.footer2 }}">
            </div>
            <div class="w-full h-10 flex ">
               
                <div class="w-33 text-red-600 p-1 rounded font-semibold h-10">
                 <span class="w-15 p-1 rounded font-semibold text-white bg-red-600 h-10">
                   {{ main4.offer2}}%
                </span>
                {{ main4.footer2 }}
  
               </div>
            </div>
         </div>
         <div class="w-45 h-56 flex flex-wrap ">
             <div class="px-2 w-40 mx-auto  h-45 bg-slate-200 rounded shadow-sm shadow-slate-400">
              <img class="w-full h-full" src="{{ main4.image4m3 }}" alt="">
            </div>
            <div class="w-full h-10 flex  ">
              <div class="w-15 p-1 rounded font-semibold text-white bg-red-600 h-10">
                {{ main4.offer3}}%
              </div>
              <div class="w-33 text-red-600 p-1 rounded font-semibold h-10">
                {{ main4.footer3 }}
              </div>
            </div>
         </div>
         <div class="w-45 h-56 flex flex-wrap ">
            <div class="px-2 w-40 mx-auto  h-45 bg-slate-200 rounded shadow-sm shadow-slate-400">
              <img class="w-full h-full" src="{{ main4.image4m4 }}" alt="">
            </div>
            <div class="w-full h-10 flex">
              <div class="w-15 p-1 rounded font-semibold text-white bg-red-600 h-10">
                {{ main4.offer4}}%
              </div>
              <div class="w-33 text-red-600 p-1 rounded font-semibold h-10">
                {{ main4.footer4 }}
              </div>
            </div>
         </div>
      </div>
       {% endfor %}
      
  </div>
</div>

<div class=" w-full h-110 min-[430px]:hidden">
    <div class="w-full h-20  px-5 leading-4 m-2">
      <h2 class="text-2xl font-semibold">{{ matched_data.0.headermatch }}</h2>
      <p>Bestselling product of Watches</p>
      <br>
        <hr class="w-2/3">
    </div>
  
    <div class="main overflow-x-auto overflow-y-hidden  px-5 p-2 gap-10 flex min-w-full h-90">
      {% for best in matched_data %}
      <div class="box1 min-w-70 h-85 shadow-sm rounded-2xl 
      shadow-slate-500 p-2 justify-center flex flex-wrap">
          <div class="w-60 h-48  p-5 px-10">
            <a href="{% url 'filtered_products1' best.id %}">
            <img class="w-full rounded-2xl shadow-md shadow-slate-500 h-full" src="{{ best.Imagem }}" alt="">
            </a>
          </div>
          <div class="w-full h-25 p-2 rounded-2xl shadow text-blue-600 font-medium bg-slate-100">
            {{ best.contentm }}
          </div>
          <div class="w-full h-10 p-3 font-bold ">
            price:-{{ best.pricewacth }}/-  ⭐⭐⭐⭐
          </div>
        </div>
        {% endfor %}
      
    </div>
  </div>


   <div class="min-[430px]:hidden w-full h-100 flex flex-wrap">
        <div class="w-full h-15">
            <h1 class="text-2xl font-bold">Fresh</h1>
            <p>Fresh vegitable available on this site</p>
        </div>
         <hr class="w-2/3">

           <div class="w-full h-80 p-4 bg-white">
              <div class="main w-full h-full rounded-2xl shadow whitespace-nowrap
                  overflow-x-auto overflow-y-hidden flex ">
                    {% for fresh in fresh %}
                    <div class="box1 min-w-full h-full p-2 flex flex-wrap 
                     bg-no-repeat bg-[length:100%_100%]" style="background-image:url('{{ fresh.bgimagefresh }}')">
                 
                     <div class="w-[40%] h-[45%]"></div>
                     <div class="w-[55%] h-[50%]">
                          <img class="w-full rounded-4xl h-full" src="{{ fresh.vegitablebimagefresh }}" alt="">
                      </div>
                        <div class="w-[40%] h-[45%] "></div>

                         <a href="{% url 'fresh_addtocart' fresh.id %}">
                             <div class="w-1/2 h-[53%] p-1 text-white backdrop-blur-[4px] hover:underline ">
                                 <h2 class="text-2xl font-bold ">{{ fresh.nameoffresh }} 
                                  <span class="text-[20px] font-semibold">{{ fresh.offerfresh }}%off</span>
                                  </h2>
                                  <span class="font-semibold leading-4">{{ fresh.headingfresh1 }} </span> 
                           
                                  <p class="font-semibold"> price: {{ fresh.pricefresh }}/-  </p>
                                  <br>
                                  <h2>&copy {{ fresh.Termfresh }}</h2>
                         </a>
                             </div>
                 </div>
                 {% endfor %}
                 
              </div>
         </div>
    </div>

<script>
  const mainElements = document.querySelectorAll('.main');

  mainElements.forEach((main) => {
    const boxes = main.querySelectorAll('.box1');  // Get boxes inside this main
    const boxWidth = boxes[0]?.offsetWidth || 300;

    let direction = 'right';

    function autoScroll() {
      const maxScroll = main.scrollWidth - main.clientWidth;

      if (direction === 'right') {
        main.scrollBy({ left: boxWidth, behavior: 'smooth' });

        if (main.scrollLeft + boxWidth >= maxScroll) {
          direction = 'left';
        }
      } else {
        main.scrollBy({ left: -boxWidth, behavior: 'smooth' });

        if (main.scrollLeft - boxWidth <= 0) {
          direction = 'right';
        }
      }
    }

    setInterval(autoScroll, 2000);
  });
</script>


<div class="w-full h-auto p-2 min-[430px]:hidden">
  <h1>Amozone Fashion</h1>
  <div class="w-full h-auto flex gap-1 overflow-x-auto overflow-y-hidden ">
     <div class="w-full h-60 gap-1 flex overflow-x-auto overflow-y-hidden">
                <div class="min-w-50 h-full bg-slate-50 text-center p-2  rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/y8bMfXb4/portrait-handsome-smiling-young-man-folded-arms-smiling-joyful-cheerful-men-crossed-hands-isolated-s.png" alt="">
                    </div>
                    <h2 class="font-semibold">Men's clothing</h2>
                </div>

                <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/MpV1nwD7/edwed-20240517130459-1-large-removebg-preview.png" alt="">
                    </div>
                    <h2 class="font-semibold">Women's clothing</h2>
                </div>

                <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/Dz5JGwbX/images-removebg-preview-3.png" alt="">
                    </div>
                    <h2 class="font-semibold">Kids Fashion</h2>
                </div>

                <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/nM8CxsN6/istockphoto-1279108197-170667a-1671687926903-1671687937504-1671687937504-removebg-preview.png" alt="">
                    </div>
                    <h2 class="font-semibold">Footwear</h2>
                </div>

                <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/bwh9HddC/images-removebg-preview-4.png" alt="">
                    </div>
                    <h2 class="font-semibold">Luggage and bags</h2>
                </div>

                <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/28wVM52X/SPLF64-K57300-SG-3-removebg-preview.png" alt="">
                    </div>
                    <h2 class="font-semibold">Sunglasses</h2>
                </div>

                <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/9MKG4QvB/gems-1-2048x2048-removebg-preview.png" alt="">
                    </div>
                    <h2 class="font-semibold">Jewellery</h2>
                </div>

                <a href="{% url 'filtered_products' %}">
                  <div class="min-w-50 h-full bg-slate-50 text-center p-2 rounded shadow">
                    
                    <div class="w-45 h-45 bg-slate-200 rounded-full ">
                         <img class="w-full h-full " src="https://i.postimg.cc/ZYv8G6ds/images-removebg-preview-5.png" alt="">
                    </div>
                    <h2 class="font-semibold">Watches</h2>
                   </div>
                 </a>
                
             </div>
       
  </div>
</div>

 <div class="w-full h-40  p-2 min-[430px]:hidden">
             <div class="w-full h-full p-4 flex bg-gradient-to-r from-green-400 via-red-400  to-green-500
             [clip-path:polygon(0%_0%,50%_0%,100%_0%,100%_100%,99%_95%,1%_95%,0%_100%,0%_50%)]">
                  <div class="w-70 h-full ">
                    <h1 class="text-2xl font-bold text-white text-shadow-lg text-shadow-black">ULTIMATE BRANDSALE</h1>
                    <h1 class=" font-semibold text-shadow">Freedom edit on {% now "d-m-y" %}</h1>
                  </div>
                  <div class="w-70 h-full  text-center font-serif   text-shadowf">
                    <h1 class="text-xl ">Get up to </h1>
                    <h1 class="text-xl ">20% cashback*</h1>
                    <h1>on first order</h1>
                  </div>
                  <div class="w-70 h-full  text-center py-10 ">
                     <h1 class="py-2  bg-black text-white">sign up now</h1>
                  </div>
             </div>
        </div>




 <div class="w-full h-auto py-4 p-1 min-[430px]:hidden">
            <h1 class="font-semibold text-xl">Vocal for local</h1>
            <div class="w-full h-auto   ">
                 <div class="w-full h-92 gap-5 px-3 bg-orange-400 flex p-4 overflow-x-auto overflow-y-hidden ">
                    {% for vocalforlocal in vocalforlocal %}
                   <div class="min-w-55 h-full ">
                      <div class="w-full h-50  ">
                         <img class="w-full h-full rounded-t-2xl" src="{{ vocalforlocal.image }}" alt="">
                      </div>
                      <div class="w-full h-15 bg-white p-2  ">
                        <img class="w-50 h-full mx-auto px-10" src="{{ vocalforlocal.logo }}" alt="">
                      </div>
                      <div class="w-full h-20 bg-red-100 rounded-b-2xl text-center p-2">
                        <h1>{{ vocalforlocal.interestincontent }}</h1>
                        <h1 class="text-2xl font-bold">Min. {{ vocalforlocal.offer }}% off</h1>
                      </div>
                   </div>
                   {% endfor %}
                 </div>

                  <div class="w-full h-92 gap-5 px-3 bg-white flex p-4 overflow-x-auto overflow-y-hidden ">
                    {% for vocalforlocal1 in vocalforlocal1 %}
                   <div class="min-w-55 h-full ">
                      <div class="w-full h-50  ">
                         <img class="w-full h-full rounded-t-2xl" src="{{ vocalforlocal1.image1 }}" alt="">
                      </div>
                      <div class="w-full h-15 bg-white p-2  ">
                        <img class="w-50 h-full mx-auto px-10" src="{{ vocalforlocal1.logo1 }}" alt="">
                      </div>
                      <div class="w-full h-20 bg-blue-600 text-white rounded-b-2xl text-center p-2">
                        <h1>{{ vocalforlocal1.interestincontent1 }}</h1>
                        <h1 class="text-2xl font-bold">Min. {{ vocalforlocal1.offer1 }}% off</h1>
                      </div>
                   </div>
                   {% endfor %}
                 </div>
                 
                  <div class="w-full h-92 gap-5 px-3 bg-green-400 flex p-4 overflow-x-auto overflow-y-hidden ">
                    {% for vocalforlocal in vocalforlocal %}
                   <div class="min-w-55 h-full ">
                      <div class="w-full h-50  ">
                         <img class="w-full h-full rounded-t-2xl" src="{{ vocalforlocal.image }}" alt="">
                      </div>
                      <div class="w-full h-15 bg-white p-2  ">
                        <img class="w-50 h-full mx-auto px-10" src="{{ vocalforlocal.logo }}" alt="">
                      </div>
                      <div class="w-full h-20 bg-green-300 rounded-b-2xl text-center p-2">
                        <h1>{{ vocalforlocal.interestincontent }}</h1>
                        <h1 class="text-2xl font-bold">Min. {{ vocalforlocal.offer }}% off</h1>
                      </div>
                   </div>
                   {% endfor %}
                 </div>
            </div>
        </div>


         
    <div class="w-full h-auto p-2 min-[430px]:hidden">
            <h1 class="font-semibold text-xl ">Shop clothing</h1>
              <div class="w-full h-auto flex overflow-x-auto overflow-y-hidden  gap-2 ">
                {% for shopclothing in shopclothing %}
                  <div class="min-w-55 h-100 ">
                    <div class="w-full h-75">
                        <img class="w-full h-full rounded-t-2xl" src="{{ shopclothing.imageshopclothing }}" alt="">
                    </div>
                    <div class="w-full h-25 text-center font-serif bg-red-100 py-2 font-bold rounded-b-2xl">
                        <h1 class="text-2xl">{{ shopclothing.contentshopclothing }}</h1>
                        <h1 class="text-xl text-orange-500">Under ₹{{ shopclothing.priceshopclothing }}</h1>
                    </div>
                  </div>
                  {% endfor %}  
             </div>
          </div>



       <div class="w-full h-auto p-2 min-[430px]:hidden">
            <h1 class="font-semibold text-xl ">Shop footwear</h1>
              <div class="w-full h-auto flex bg-red-100 gap-2 overflow-x-auto overflow-y-hidden">
                {% for shopfootwear in shopfootwear %}
                  <div class="min-w-55 h-55">
                    <div class="w-full h-35">
                        <img class="w-full h-full rounded-2xl" src="{{ shopfootwear.imageshopfootwear }}" alt="">
                    </div>
                    <div class="w-full h-20 text-center font-serif font-bold rounded-b-2xl">
                        <h1 class="text-xl">{{ shopfootwear.contentshopfootwear }}</h1>
                        <h1 class=" text-orange-500">Under ₹{{ shopfootwear.priceshopfootwear }}</h1>
                    </div>
                  </div>
                  {% endfor %}  
             </div>
          </div>

 <div class='w-full h-10 min-[430px]:hidden p-2'>
   <div class="w-full h-full ">
      <h1 class="text-xl font-bold ">Laptop Electronics</h1>
   </div>
 </div>
   <div class="w-full h-auto min-[430px]:hidden bg-red-300 p-2">
            <div  class="min-w-full h-72 gap-1 flex  overflow-x-auto">
              {% for electronicslaptop in electronicslaptop %}
              <a class="cursor-pointer" href="{% url 'laptopaddtocart' electronicslaptop.id %}">
               <div class="min-w-70 h-70 bg-red-50 rounded-xl shadow p-8">
                 <div class="relative min-w-full h-full bg-gradient-to-t from-blue-500 to-transparent p-3 rounded-full 
             shadow-sm shadow-black group">
               <div class="w-full h-full flex-wrap flex pb-5 px-5 justify-center items-center ">
                  <img class="w-full h-full rounded-[65px]" src="{{ electronicslaptop.laptopimage }}" alt="">
                 <div class="w-55 text-white rounded-xl px-4 h-8 bg-blue-600 text-2xl font-bold absolute mt-55 text-center
                  text-shadow-lg/30 font-serif text-shadow-slate-500">
                    <h2>up to {{ electronicslaptop.laptopoffer }}%off</h2></div>
                </div>
                </div>
               </div> 
                 </a>
              {% endfor %}
    </div> 
 </div>

  <div class='w-full h-10 min-[430px]:hidden py-10'>
   <div class="w-full h-full">
      <h1 class="text-xl font-bold px-2">Headphones Electronics</h1>
   </div>
  </div>
   <div class="w-full h-70 bg-red-50 p-2 min-[430px]:hidden">
      <div class=" w-full h-full gap-1 overflow-x-auto overflow-y-hidden flex">
           {% for electronicsheadphones in electronicsheadphones %}
           <a href="{% url 'headphonesaddtocart' electronicsheadphones.id %}">
             <div class="min-w-55 h-65 bg-white shadow rounded">
              <div class="w-full h-30 p-2 px-15">
                <img class="w-full h-full rounded-2xl" src="{{ electronicsheadphones.headphonesimage }}" alt="">
              </div>
              <div class="w-45 mx-auto h-1/12 text-center font-semibold text-blue-700">
                up to {{ electronicsheadphones.headphonesoffer }}% off
              </div>
              <div class="w-full h-50 px-2">
                <h1 class="text-md font-semibold">{{ electronicsheadphones.headphonesname }}</h1>
                <h1 class="text-xl font-semibold">price: ₹{{ electronicsheadphones.final_priceheadphones }}/-
                    <span class="text-sm font-normal">[M.R.P.: {{ electronicsheadphones.headphonesmrpprice }}]</span>
                </h1>
              </div>
           </div>
            </a>
          {% endfor %}         
      </div>    
    </div>


 <div class='w-full h-10 min-[430px]:hidden py-10'>
   <div class="w-full h-full ">
      <h1 class="font-bold text-xl px-2">Devices for everything stored</h1>
   </div>
  </div>
   <div class="w-full h-85 bg-red-50  min-[430px]:hidden p-2">
      <div  class="w-full h-full gap-1 overflow-x-auto overflow-y-hidden flex"> 
          {% for electronicsstored in electronicsstored %}
          <a href="{% url 'storedaddtocart' electronicsstored.id %}">
           <div class="min-w-55 h-80 bg-white shadow rounded">
            <div class="min-w-55 h-35  px-10">
             <img class="w-full h-full rounded-2xl" src="{{ electronicsstored.storedimage }}" alt="">
            </div>
        <div class="w-45 mx-auto h-1/12 text-center font-semibold text-blue-700">
          up to {{ electronicsstored.storedoffer }}% off
        </div>
        <div class="w-full h-45 px-2">
          <h1 class="text-md font-semibold">{{ electronicsstored.storedname }}</h1>
          <h1 class="text-xl font-semibold">
            price: ₹{{ electronicsstored.final_pricestored }}/-
            <span class="text-sm font-normal">[M.R.P.: {{ electronicsstored.storedmrpprice }}]</span>
          </h1>
        </div>
      </div>
     </a>
{% endfor %}
       </div>    
    </div>


      <div class="w-full h-auto p-5 min-[430px]:hidden">
            <h1 class="font-semibold text-xl ">Budget Add-Ons</h1>
              <div class="w-full h-auto flex bg-green-100 gap-2 p-2 rounded shadow overflow-x-auto overflow-y-hidden">
                {% for Budgetaddons in Budgetaddons %}
                <a href="{% url 'shopBudget_addtocart' Budgetaddons.id %}">
                  <div class="w-45 h-50">
                    <div class="w-full h-35">
                        <img class="w-full h-full rounded-2xl" src="{{ Budgetaddons.imageshopBudget  }}" alt="">
                    </div>
                    <div class="w-full h-10 text-center font-serif py-2 font-semibold rounded-b-2xl">
                        <h1>{{ Budgetaddons.contentshopBudget }}</h1>
                        <h1 class=" text-green-700">Under ₹{{ Budgetaddons.priceshopBudget  }}</h1>
                    </div>
                  </div>
                  </a>
                  {% endfor %}  
             </div>
          </div>


<div class="w-full h-auto p-5 min-[430px]:hidden ">
  <h1 class="font-semibold text-xl">Shop Beauty</h1>
   <div class="w-full h-auto flex gap-8 px-2 overflow-x-auto overflow-y-hidden">
    {% for shopbeauty in shopbeauty %}
    <a href="{% url 'shopbeauty_addtocart' shopbeauty.id %}">
       <div class="min-w-45 h-100 ">
         <div class="w-full h-30 ">
           <img class="w-full h-70 " src="{{ shopbeauty.imageshopBeauty }}" alt="">
         </div>
         <div class="w-45 h-40 mx-auto bg-red-300 rounded-full bg-gradient-to-b from-red-100 via-red-200 to-slate-600"></div>
          <div class="w-full h-30 text-center font-bold ">
            <h1 class="text-xl font-semibold">{{ shopbeauty.contentshopBeauty }}</h1>
            <h1 class="text-xl text-orange-600">starting ₹{{ shopbeauty.priceshopBeauty }}</h1>
          </div>
        </div>
        </a>
       {% endfor %} 
   </div>
</div>


        <div class="w-full h-auto p-2 min-[430px]:hidden">
            <h1 class="font-semibold text-xl ">Shop footwear</h1>
              <div class="w-full h-auto flex bg-red-100 gap-2 overflow-x-auto overflow-y-hidden">
                {% for shopfootwear in shopfootwear %}
                  <div class="min-w-55 h-55">
                    <div class="w-full h-35">
                        <img class="w-full h-full rounded-2xl" src="{{ shopfootwear.imageshopfootwear }}" alt="">
                    </div>
                    <div class="w-full h-20 text-center font-serif font-bold rounded-b-2xl">
                        <h1 class="text-xl">{{ shopfootwear.contentshopfootwear }}</h1>
                        <h1 class=" text-orange-500">Under ₹{{ shopfootwear.priceshopfootwear }}</h1>
                    </div>
                  </div>
                  {% endfor %}  
             </div>
          </div>


       <div class="w-full h-auto p-2 min-[430px]:hidden">
            <h1 class="font-semibold text-xl ">Brands We Love</h1>
              <div class="w-full h-auto flex overflow-x-auto overflow-y-hidden  gap-2 ">
                {% for shopclothing in shopclothing %}
                  <div class="min-w-55 h-100 ">
                    <div class="w-full h-75">
                        <img class="w-full h-full rounded-t-2xl" src="{{ shopclothing.imageshopclothing }}" alt="">
                    </div>
                    <div class="w-full h-25 text-center font-serif bg-red-100 py-2 font-bold rounded-b-2xl">
                        <h1 class="text-2xl">{{ shopclothing.contentshopclothing }}</h1>
                        <h1 class="text-xl text-orange-500">Under ₹{{ shopclothing.priceshopclothing }}</h1>
                    </div>
                  </div>
                  {% endfor %}  
             </div>
          </div>

<!--product 430px ke neeche-->
<h2 class="py-1 pt-2 font-semibold text-xl min-[430px]:hidden">Product</h2>
  <div class="p-1 overflow-x-auto overflow-y-hidden min-[430px]:hidden flex h-140 w-full gap-1">
    
    {% for products in product %}
    <div class="rounded shadow flex flex-wrap min-w-full p-2 h-full bg-white gap-2">
      <div class=" w-full h-7 leading-6.5 text-2xl font-bold decoration-2">
        {{ products.header }}
       </div>
       <div class=" w-[49%] h-45 px-4">
         <div class=" w-full h-25  ">
           <a href="{% url 'add_to_cart' products.id products.content1 %}">
            <img class="w-full h-full " src="{{ products.image1 }}" alt="Product" class="cursor-pointer">
        </div>
         <div class="w-full h-22 text-[14px] font-medium decoration-2">
          {{ products.content1 }} <br><span class="text-slate-500">price: ₹{{ products.price1 }}/
            {{ products.off171 }}% off
          </span>
           total pay : ₹{{ products.final_price1 }} only 
           
         </div>
         </a>
         <div class="w-full h-[10px]">
           <form action="{% url 'add_to_cart' products.id products.content1 %}" method="post">
             {% csrf_token %}
             <button class="bg-blue-700 w-full rounded-sm text-white" type="submit">Add to Cart</button>
           </form>
         </div>  
     </div>

      <div class="w-[49%] h-45  px-4">
        <div class=" w-full h-25 ">
          <a href="{% url 'add_to_cart' products.id products.content2 %}">
              <img class="w-full h-full" src="{{ products.image2 }}" alt="Product">
        </div>
         <div class="w-full h-22  text-[14px] font-medium decoration-2">
          {{ products.content2 }} <br><span class="text-slate-500">price: ₹{{ products.price2 }}/
            {{ products.off172 }}% off
          </span>
           total pay : ₹{{ products.final_price2 }} only 
        </div>
         </a>
        <div class="w-full h-[10px]">
          <form action="{% url 'add_to_cart' products.id products.content2 %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-700 w-full rounded-sm text-white" type="submit">Add to Cart</button>
          </form>
        </div>  

      </div>
      <div class=" w-[49%] h-45 px-4">
        <div class=" w-full h-25  ">
          <a href="{% url 'add_to_cart' products.id products.content3  %}">
            <img class="w-full h-full" src="{{ products.image3 }}" alt="Product" class="cursor-pointer">
          
        </div>
         <div class="w-full h-22 text-[14px] font-medium decoration-2">
          {{ products.content3 }} <br><span class="text-slate-500">price: ₹{{ products.price3 }}/
            {{ products.off173 }}% off
          </span>
           total pay : ₹{{ products.final_price3 }} only 
        </div>
        </a>
        <div class="w-full h-[10px]">
          <form action="{% url 'add_to_cart' products.id products.content3  %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-700 w-full rounded-sm text-white" type="submit">Add to Cart</button>
          </form>
        </div>  

      </div>

      <div class=" w-[49%] h-45 px-4">
        <div class=" w-full h-25 ">
          <a href="{% url 'add_to_cart' products.id products.content4 %}">
            <img class="w-full h-full" src="{{ products.image4 }}" alt="Product" class="cursor-pointer">
          
        </div>
        <div class="w-full h-22  text-[14px] font-medium hover:underline decoration-2">
          {{ products.content4 }} <br><span class="text-slate-500">price: ₹{{ products.price4 }}/
            {{ products.off174 }}% off
          </span>
           total pay : ₹{{ products.final_price4 }} only 
        </div>
        </a>
        <div class="w-full h-[10px]">
          <form action="{% url 'add_to_cart' products.id products.content4 %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-700 w-full rounded-sm text-white" type="submit">Add to Cart</button>
          </form>
        </div>  
      </div>
    </div>
    {% endfor %}
 
  </div>



{% include 'footer.html' %}

  </body>
</html>