{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiles</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <style>
      .smartphone::-webkit-scrollbar{display:none;}
      @keyframes leftSlide {
         0% {transform: translateX(100%);}
         100% { transform: translateX(-100%);}
       }

       .main::-webkit-scrollbar{display:none;}
       .main1::-webkit-scrollbar{display:none;}
      
</style>
</head>
{% include 'header.html' %}
<body class="w-screen h-screen overflow-x-hidden bg-cyan-200">

<div class="max-[430px]:hidden w-1/2 h-1/5 m-10 [filter:drop-shadow(3px_3px_5px_rgba(0,0,0,0.9))]">
    <div class="w-full h-full bg-blue-600 px-20 p-5
    [clip-path:polygon(70px_0,100%_0,100%_calc(100%-70px),calc(100%-70px)_100%,0_100%,0_70px)]">
    <h2 class="text-6xl font-bold text-shadow-lg/20 text-white">Mobiles Deals</h2>
    <p class="text-2xl font-semibold text-shadow-lg/25 text-shadow-black">India's Favourite Smart Phone Store ⭐⭐⭐⭐⭐</p>
  </div>
</div>

<div class="max-[430px]:hidden main w-[95%] mx-auto h-100 bg-cyan-200 p-10 overflow-x-auto overflow-y-hidden flex">
  
  <div class="box1 [filter:drop-shadow(5px_5px_10px_rgba(0,0,0,0.9))] min-w-full h-full"> 
    <div class="w-full h-full p-7 py-5 text-8xl text-center font-bold font-serif text-yellow-300 bg-cyan-400 
      [clip-path:polygon(70px_0,100%_0,100%_calc(100%-70px),calc(100%-70px)_100%,0_100%,0_70px)]
      text-shadow-lg/50 text-shadow-slate-950">
      EVENT DEALS FROM YOUR FAVOURITE BRANDS
    </div>
  </div>

  <div class="box1 [filter:drop-shadow(5px_5px_10px_rgba(0,0,0,0.9))] min-w-full h-full">
    <div class="w-full h-full p-7 justify-around flex py-5 text-center font-bold font-serif 
     bg-violet-500 text-yellow-300
      [clip-path:polygon(70px_0,100%_0,100%_calc(100%-70px),calc(100%-70px)_100%,0_100%,0_70px)]">
      <div class="w-1/2 h-full text-6xl text-shadow-lg/50 text-shadow-slate-950">Instant Phone Set-up Service during Delivery 
        <span>Starting ₹349</span>
      </div>
      <div class="w-1/3 h-full ">
        <img class="w-full h-full rounded-4xl shadow" src="https://www.shutterstock.com/image-photo/smiling-woman-holding-empty-shopping-260nw-2204413293.jpg" alt="">
      </div>
    </div>
  </div>

     <div class="box1 [filter:drop-shadow(5px_5px_10px_rgba(0,0,0,0.9))] min-w-full h-full">
       <div class="smartphone w-full h-full text-center font-bold font-serif text-orange-600 bg-yellow-200 
       text-shadow-lg/30 flex overflow-x-auto overflow-y-hidden gap-1 
         [clip-path:polygon(70px_0,100%_0,100%_calc(100%-70px),calc(100%-70px)_100%,0_100%,0_70px)]">
         <div class="w-1/2 h-full py-20 ml-80 absolute z-2">
             <h2 class="text-5xl py-5">DISCOVER CURATED SMARTPHONES STORES</h2> 
             <p  class="text-2xl">FOR YOUR EVERY NEED</p>
         </div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
            <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
            <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
            <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>
           <div class="min-w-50 h-full bg-red-300 [clip-path:polygon(0_50%,100%_0,100%_100%)] 
           animate-ping" style="animation: leftSlide 3s linear infinite"></div>

          
        </div>
     </div>
</div>

  <!----Mobile ke liye 430px ke neeche -->
  {% include 'headermobile.html' %}
  




{% include 'footermobile.html' %}




  <div class="w-full max-[430px]:hidden h-screen bg-cyan-300 overflow-hidden flex">
       <div class="main1 w-1/2 h-full -skew-x-30 overflow-auto ">
        {% for mainmobile in mainmobile %}
            <div class="boxing1 w-full h-160 p-2 flex flex-wrap
                 bg-no-repeat bg-[length:100%_100%]" style="background-image:url(
              {{ mainmobile.bgmainimagembile }})">
              <div class="w-90 h-75 ml-25 px-2 skew-x-30 backdrop-blur-[5px] p-1 rounded-2xl">
                <a href="{% url 'Product_detailsmobilepage' mainmobile.id %}">
                  <img class="w-full h-full rounded-4xl" src="{{ mainmobile.mainimagemobile }}" alt="">
                </a>
              </div>
              <div class="w-130 h-78 p-5  rounded-2xl ml-25 skew-x-30 ">
                  <p class="text-blue-400 leading-6
                 hover:underline hover:text-shadow-lg">{{ mainmobile.nameofmmobile }}({{ mainmobile.specsofmmobileRamrom }})|{{ mainmobile.specsofcamera }} | 
                 {{ mainmobile.specsofbattery }}
                 |{{ mainmobile.specsfofprocessor }} | {{ mainmobile.specsofdurability }}   ......
                 </p>
                 <p class="text-white"> Rating:  [⭐⭐⭐⭐⭐<span class="text-blue-500">{{ mainmobile.mainmratings }}]</span></p>
                 <p class="py-2 text-white">5k+ bought in past month</p>
                 <p class="bg-red-600 p-2 w-1/3 rounded-sm text-white font-semibold">{{ mainmobile.mainmdeals }}</p>
                 <p class='text-2xl font-semibold text-white'>₹{{ mainmobile.final_price }} <span class="font-normal text-sm">M.R.P: ₹{{ mainmobile.mainmmrp }} 
                 <span class="text-white font-semibold">({{ mainmobile.mainmoffer }}% off)</span> ({{ mainmobile.mainmofferoncreditcard }}% on SBI Credit Card)</span></p>
                 <p class="text-blue-500">✔️Prime</p>
                 <p class="text-white">FREE delivery <span class=" font-semibold">{{ today }}</span> or fastest delivery <span class="font-semibold">Tomorrow 8 Aug</span></p>
              </div>
           </div>
         {% endfor %}
         
       </div>

        <div class="main w-1/3 bg-cyan-400 -skew-x-30 flex-col justify-start items-center overflow-auto">
           <div class="main1 w-full max-h-screen overflow-y-auto ">
             {% for mainmobile in mainmobile %}
              <div class="boxing1 w-full p-4 flex flex-col bg-no-repeat bg-cover bg-center shadow-md"
              style="background-image:url('{{ mainmobile.bgmainimagembile }}')">
             <a href="{% url 'Product_detailsmobilepage' mainmobile.id %}">
               <div class="w-full px-20">
                  <img class="w-full h-full object-cover rounded-xl" src="{{ mainmobile.mainimagemobile }}" alt="">
               </div>
             </a>
             <div class="w-full  p-2 rounded-md space-y-1">
               <p class="text-blue-400 leading-6 hover:underline">
                {{ mainmobile.nameofmmobile }} | {{ mainmobile.specsofcamera }} |
                {{ mainmobile.specsfofprocessor }} | {{ mainmobile.specsofdurability }} ...
               </p>
               <p class="text-white">
               Rating: ⭐⭐⭐⭐⭐ <span class="text-blue-500">{{ mainmobile.mainmratings }}</span>
               </p>
                <p class="text-2xl font-semibold text-white">
                ₹{{ mainmobile.final_price }}
               <span class="font-normal text-sm">M.R.P: ₹{{ mainmobile.mainmmrp }}
                <span class="text-white font-semibold">({{ mainmobile.mainmoffer }}% off)</span>
                </span>
               </p>
           </div>
      </div>
    {% endfor %}
  </div>
</div>


 </div>
 <div class="w-full h-180 max-[430px]:hidden overflow-hidden flex flex-wrap gap-5">
       <div class="main1 w-full h-full overflow-auto px-5">
        {% for mainmobile in mainmobile %}
            <div class="boxing1 w-full h-180 p-15 flex flex-wrap
            [clip-path:polygon(15%_0%,50%_5%,100%_0%,95%_50%,98%_100%,50%_95%,0%_100%,5%_50%,0%_15%)]
                 bg-no-repeat bg-[length:100%_100%]" style="background-image:url(
              {{ mainmobile.bgmainimagembile }})">
              <div class="w-160 h-150 px-20 backdrop-blur-[5px] p-1 ">
                <a href="{% url 'Product_detailsmobilepage' mainmobile.id %}">
                  <img class="w-full h-full rounded-xl" src="{{ mainmobile.mainimagemobile }}" alt="">
                </a>
              </div>
              <div class="w-180 h-150 text-3xl  rounded-2xl  font-serif ">
                <a href="{% url 'Product_detailsmobilepage' mainmobile.id %}">
                   <p class="text-blue-400 leading-12 
                       hover:underline hover:text-shadow-lg">{{ mainmobile.nameofmmobile }}({{ mainmobile.specsofmmobileRamrom }})|{{ mainmobile.specsofcamera }} | 
                       {{ mainmobile.specsofbattery }}
                       |{{ mainmobile.specsfofprocessor }} | {{ mainmobile.specsofdurability }}   ......
                    </p>
                 </a>
                 <p class="text-white "> Rating:  [⭐⭐⭐⭐⭐<span class="text-blue-500">{{ mainmobile.mainmratings }}]</span></p>
                 <p class="py-2 text-white">5k+ bought in past month</p>
                 <p class="bg-red-600 p-3 w-full rounded-sm text-white font-semibold">{{ mainmobile.mainmdeals }}</p>
                 <p class='text-4xl font-semibold text-white'>Price: ₹{{ mainmobile.final_price }} <span class="font-normal text-2xl ">M.R.P: ₹{{ mainmobile.mainmmrp }} 
                 <span class="text-white font-semibold">({{ mainmobile.mainmoffer }}% off)</span> ({{ mainmobile.mainmofferoncreditcard }}% on SBI Credit Card)</span></p>
                 <p class="text-blue-500">✔️Prime</p>
                 <p class="text-white">FREE delivery <span class=" font-semibold">{{ today }}</span> or fastest delivery <span class="font-semibold">Tomorrow 8 Aug</span></p>
              </div>
           </div>
         {% endfor %}  
       </div>
 </div> 

 <!--for 430px ke neeche -->
   <div class="w-full h-160 min-[430px]:hidden bg-cyan-300 overflow-hidden flex flex-wrap gap-5">
       <div class="main1 w-full h-full overflow-auto">
        {% for mainmobile in mainmobile %}
            <div class="boxing1 w-full h-155 p-5 flex flex-wrap
                 bg-no-repeat bg-[length:100%_100%]" style="background-image:url(
              {{ mainmobile.bgmainimagembile }})">
              <div class="w-70 h-60 mx-auto backdrop-blur-[5px] p-1 ">
                <a href="{% url 'Product_detailsmobilepage' mainmobile.id %}">
                  <img class="w-full h-full rounded-xl" src="{{ mainmobile.mainimagemobile }}" alt="">
                </a>
              </div>
              <div class="w-130 h-78  rounded-2xl   ">
                  <p class="text-blue-400 leading-6
                 hover:underline hover:text-shadow-lg">{{ mainmobile.nameofmmobile }}({{ mainmobile.specsofmmobileRamrom }})|{{ mainmobile.specsofcamera }} | 
                 {{ mainmobile.specsofbattery }}
                 |{{ mainmobile.specsfofprocessor }} | {{ mainmobile.specsofdurability }}   ......
                 </p>
                 <p class="text-white"> Rating:  [⭐⭐⭐⭐⭐<span class="text-blue-500">{{ mainmobile.mainmratings }}]</span></p>
                 <p class="py-2 text-white">5k+ bought in past month</p>
                 <p class="bg-red-600 p-1 w-full rounded-sm text-white font-semibold">{{ mainmobile.mainmdeals }}</p>
                 <p class='text-2xl font-semibold text-white'>₹{{ mainmobile.final_price }} <span class="font-normal text-sm">M.R.P: ₹{{ mainmobile.mainmmrp }} 
                 <span class="text-white font-semibold">({{ mainmobile.mainmoffer }}% off)</span> ({{ mainmobile.mainmofferoncreditcard }}% on SBI Credit Card)</span></p>
                 <p class="text-blue-500">✔️Prime</p>
                 <p class="text-white">FREE delivery <span class=" font-semibold">{{ today }}</span> or fastest delivery <span class="font-semibold">Tomorrow 8 Aug</span></p>
              </div>
           </div>
         {% endfor %}  
       </div>
 </div> 
<br>
<!---for mobile section-->

<div class="min-w-360 max-[430px]:hidden flex flex-wrap h-190  p-10  shadow rounded">
  <div class="w-360 h-15 p-2 ">
    <h1 class="text-3xl font-bold text-shadow-lg/20">{{ mobile.0.header2 }}</h1>
    <p class="text-2xl font-semibold text-shadow-lg/30">Mobile Deals <span class="font-normal text-md">India's Favourite brands store
      ⭐⭐⭐⭐
    </span></p>
    <hr class="w-1/2">
  </div>
  
  <div class="main mobile min-w-360 flex overflow-x-auto bg-cyan-200
  shadow rounded-2xl overflow-y-hidden h-140">
    <div class="min-w-360 p-10 h-140 flex gap-2 ">
      <div class="w-110 h-130 ml-[-40px] p-1 text-center pt-40 bg-cyan-100 rounded-2xl border-2
       border-pink-300 border-l-0 border-t-0 border-b-0 absolute items-center z-2
        text-shadow-lg/30 text-shadow-slate-500">
        <p class="text-orange-500 font-serif text-3xl font-bold">Deals on
           <hr class="w-1/3 ml-35 text-red-400 border-2">
        </p>
       
        <p  class="text-green-500 font-serif text-8xl font-bold ">Mobiles
          <hr class="w-full text-green-600 border-2">
        </p>
        <p class="font-serif text-2xl font-bold ">starting ₹8999
          <hr class="w-1/2 ml-27 text-slate-800 border-2">
        </p>
      </div>
      <div class="w-100 h-full flex [filter:drop-shadow(5px_5px_10px_rgba(0,0,0,0.9))]">

         {% for mobile in mobile %}
      <div class="box1 w-full h-full p-2 flex pb-20 bg-blue-400 flex-wrap shadow-sm rounded-2xl shadow-slate-800 m-5 
      [clip-path:polygon(15%_0%,50%_0%,100%_0%,95%_50%,100%_100%,30%_90%,0%_100%,0%_15%)]">
        <div class="w-100 h-55 m-auto px-20">
          <a href="{% url 'Product_detailsmobile' mobile.id %}">
          <img class="w-full h-full rounded-2xl transition-transform duration-300 hover:scale-106 
          ease-in-out" src="{{ mobile.imagemobile }}" alt="">
          </a>
        </div>
        <div class="w-80 h-20 m-auto leading-5">
           
          <p class="bg-red-600 p-1 rounded text-white font-semibold">{{ mobile.offermobile }}% off limited time deal </p>
          <p class="hover:underline text-xl font-semibold ">₹{{ mobile.final_price }} <span class="text-slate-800 text-[12px]">MRP - ₹{{ mobile.mrpmobile }}</span></p>

            <form action="{% url 'add_to_cartmobile' mobile.id %}" method="POST">
              <p class="flex justify-between text-black font-semibold"> <span>{{ mobile.nameofmobile }}</span>
              {% csrf_token %}
               <span><button class="bg-blue-600 hover:bg-blue-500 
                rounded p-1 text-white px-4">add to cart</button></span>
            </form>
          </p>
        </div>
      </div>
       {% endfor %}
      </div>
      
    </div>
    
  </div>
</div>




 {% include 'footer.html' %}
<script>

  

   const main1Element = document.querySelectorAll('.main1');

        main1Element.forEach((main1) => {
           const boxes1 = main1.querySelectorAll('.boxing1');
            const boxHeight = boxes1[0]?.offsetHeight || 300;

          let direction = 'up';

         function autoupdown() {
             const maxscrolling = main1.scrollHeight - main1.clientHeight;

              if (direction === "up") {
             main1.scrollBy({ top: boxHeight, behavior: 'smooth' });
              if (main1.scrollTop + boxHeight >= maxscrolling) {
                direction = "down";
                }
              } else {
              main1.scrollBy({ top: -boxHeight, behavior: 'smooth' });
              if (main1.scrollTop - boxHeight <= 0) {
                direction = "up";
              }
          }
        }

         setInterval(autoupdown, 2000);
      });


  const mainElement = document.querySelectorAll('.main');
  mainElement.forEach((main) => {
    const boxes = main.querySelectorAll('.box1');
    const boxWidth = boxes[0]?.offsetWidth || 300;

    let direction = "right";

    function autoscrolling(){
       maxScroll = main.scrollWidth - main.clientWidth;

       if(direction === "right"){
        main.scrollBy({left: boxWidth, behavior:'smooth'});
         if(main.scrollLeft + boxWidth >= maxScroll){
          direction = "left";
         }
       }
       else{
        main.scrollBy({left: -boxWidth, behavior: 'smooth'});
         if(main.scrollLeft - boxWidth <= 0){
          direction = "right";
         }
       }
    }
    setInterval(autoscrolling, 2000);
  });
</script>
</body>
</html>